/*
* Style addons for Elementor
*/

// transition
@mixin transition ($transition) {
  -webkit-transition: $transition;
  -moz-transition:    $transition;
  -o-transition:      $transition;
  transition:         $transition;
}

// Box shadow
@mixin box-shadow( $box-shadow ) {
  -webkit-box-shadow: $box-shadow;
  -moz-box-shadow:    $box-shadow;
  box-shadow:         $box-shadow;
}

// flexbox
@mixin flexbox() {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}
@mixin flex-direction-column() {
  -ms-flex-direction: column;
  flex-direction: column;
}
@mixin justify-content($justify-content) {
  -webkit-justify-content: $justify-content;
  justify-content: $justify-content;
}

@import "bootstrap-grid/bootstrap-grid";

h1, h2, h3, h4, h5, h6 {
  font-weight: 700;
}
a {
  @include transition( all 0.4s ease-in-out );
}
/* Team Members */
@import "addons-elementor/team-members";

/* Post Type */
@import "addons-elementor/post-type";

/* Post Price Table */
@import "addons-elementor/price-table";