.element-post-type {
  .title {
    text-align: center;
  }
  .item-post {
    margin-bottom: 15px;

    .item-post__thumbnail {
      margin-bottom: 15px;
    }
    .item-post__title {
      padding: 0;
      margin: 0;
      font-size: 18px;
    }
    .item-post__content {
      margin-top: 15px;

      p {
        margin: 0;
        font-size: 14px;
      }
    }
  }
}